{% extends 'base.html' %}
{% block title %}Allerapp{% endblock %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="static/homejs.js"></script>
<p>
</p>

<div id="titletown" class="d-flex p-2 bd-highlight"><div class="d-inline" id="alltitle"><h1>AllerApp</h1></div></div>

<br><br><br><div id="mainbar">
  <div class = "row">
    <div class="col-12 col-md-4 col-lg-4" id="main3">
  <form id = "Check">
    <!-- <div id="avoidid"> -->
      <h4>Pick which ingredients to avoid.</h4>
      <p>
    <!-- Which irritants would you like to avoid? <p> -->
  
    {% for irritant in irritants %}

    <input type="checkbox" class="form-check-input" name="irritants" value="{{ irritant.irritantgroup_name }}" id="{{ irritant.irritantgroup_name }}">
    <label for="{{ irritant.irritantgroup_name }}-irritant">{{ irritant.irritantgroup_name }}</label>

    {% endfor %}
    <!-- </div> -->
    </div>
  <div class="col-12 col-md-4 col-lg-4" id="main3">
    <h4>Pick your product.</h4>
    <p>
<label>Search Here</label>&nbsp;&nbsp;<input type="text" name="search" id="searchBox"/>

    <button class="btn btn-primary" type="submit">Check!</button>
</form></div>
<div class="col-12 col-md-4 col-lg-4" id="main3">
  <h4>Get your results.</h4><p><div id="result-text"></div>
</div></div></div></div>


<!-- </div> -->


<br><Br>
<div>
  <p class="text-center"> To save your irritant profile and searched products, </p> <p class="text-center">
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">Create Account</button> or
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Login</button>
  </p>
  <div class="row"><div class = "col-0 col-md-3 col-lg-4"> </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body" id="loginlogout">
          <form action="/register" method="POST">
            
              <div class="row g- align-items-center">
                <div class="col-auto">
                  <label for="inputEmail" class="col-form-label">Email</label>
                </div>
              <div class="col-auto">
              <input type="text" class="form-control" name="email">
            </div></div>
            </p>
        
            <p>
              <div class="row g-2 align-items-center">
              <div class="col-auto">

                <label for="inputPassword6" class="col-form-label">Password</label>
              </div>
              <div class="col-auto">
               <input type="password" class="form-control" name="password">
              </div></div>
            </p>
        
            <p>
              <input class="btn btn-primary" type="submit">
            </p>
          </form></div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body" id="loginlogout">
          <form action="/login" method="POST">
            <div class="row g-2 align-items-center">
              <div class="col-auto">
                <label for="inputEmail" class="col-form-label">Email</label>
              </div>
            <div class="col-auto">
            <input type="text" class="form-control" name="email">
          </div></div>
          </p>
        
          <p>
            <div class="row g-2 align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Password</label>
            </div>
            <div class="col-auto">
             <input type="password" class="form-control" name="password">
            </div></div>
        </p>
            <p>
              <input class="btn btn-primary" type="submit">
            </p>
          </form></div>
      </div>
    </div><div class="col-0 col-md-3 col-lg-4"> </div>
  </div></div>
<br><Br><Br>











<!-- 
  <div id="snapp"></div>  -->

  <!-- <script src="static/Main.jsx" type="text/jsx"></script> -->
  <script src="static/genresults.js"></script>

{% endblock %}