{% extends 'base.html' %}
{% block title %}Allerapp{% endblock %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="static/homejs.js"></script>
<p>
</p>

  <h1>AllerApp</h1>


  <form id = "Check">
    Which irritants would you like to avoid? <p>
  
    {% for irritant in irritants %}

    <input type="checkbox" class="form-check-input" name="irritants" value="{{ irritant.irritantgroup_name }}" id="{{ irritant.irritantgroup_name }}">
    <label for="{{ irritant.irritantgroup_name }}-irritant">{{ irritant.irritantgroup_name }}</label>

    {% endfor %}

<p>
<label>Search Here</label>&nbsp;&nbsp;<input type="text" class="form-control" name="search" id="searchBox"/>

    <button class="btn btn-primary" type="submit">Check!</button>
</form>

<div id="result-text"></div>
<br>


  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Login
    </button>
  </p>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">


      <form action="/login" method="POST">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            <label for="inputEmail" class="col-form-label">Email</label>
          </div>
        <div class="col-auto">
        <input type="text" class="form-control" name="email">
      </div></div>
      </p>
    
      <p>
        <div class="row g-2 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
         <input type="password" class="form-control" name="password">
        </div></div>
    
        <p>
          <input class="btn btn-primary" type="submit">
        </p>
      </form>
    
    </div>
  </div>


  <p>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Create Account
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form action="/register" method="POST">
        <p>
          <div class="row g- align-items-center">
            <div class="col-auto">
              <label for="inputEmail" class="col-form-label">Email</label>
            </div>
          <div class="col-auto">
          <input type="text" class="form-control" name="email">
        </div></div>
        </p>
    
        <p>
          <div class="row g-2 align-items-center">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Password</label>
          </div>
          <div class="col-auto">
           <input type="password" class="form-control" name="password">
          </div></div>
        </p>
    
        <p>
          <input class="btn btn-primary" type="submit">
        </p>
      </form></div>
  </div>


<!-- 
  <div id="snapp"></div>  -->

  <!-- <script src="static/Main.jsx" type="text/jsx"></script> -->
  <script src="static/genresults.js"></script>

{% endblock %}