{% extends 'base.html' %}
{% block title %}Allerapp{% endblock %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="/static/homejs.js"></script>
<p>
</p>


<!--  start with code where if this user has no user irritants, they have a normal empty checkbox form
if they do have irritants they automatically have them checked and saved here -->
<form id = "Check">
  Which irritants would you like to avoid? <p>

  {% for irritant in irritants %}
    {% if irritant in user_irritantgroups %}
      <input type="checkbox" checked name="irritants" value="{{ irritant.irritantgroup_name }}" id="{{ irritant.irritantgroup_name }}">
      <label for="{{ irritant.irritantgroup_name }}-irritant">{{ irritant.irritantgroup_name }}</label>
    {% else %}
    <input type="checkbox" name="irritants" value="{{ irritant.irritantgroup_name }}" id="{{ irritant.irritantgroup_name }}">
    <label for="{{ irritant.irritantgroup_name }}-irritant">{{ irritant.irritantgroup_name }}</label>

  {% endif %}
  {% endfor %}

<p>
<label>Search Here</label>&nbsp;&nbsp;<input type="text" name="search" id="searchBox"/>

  <button type="submit">Check!</button>
</form>

<div id="result-text"></div>
<p>
<p></p>

  <h3>Your saved irritant groups are:</h3>
  <ul>
    {% for user_irritantgroup in user_irritantgroups %}
    <li>{{ user_irritantgroup.irritantgroup_name  }}</li>
    {% endfor %}
  </ul> <p></p>

  <h3>Here are your favorite products:</h3>
  <p>
    <ul class="favorite-product">
    {% for user_searchedproduct in user_searchedproducts %}
      {% if user_searchedproduct.favorited == True %}
      <li>
      {{ user_searchedproduct.products.product_name }}</li>
     {% endif %}
    {% endfor %}
  </ul>
    <div id="fav-text"></div>
<p> <p></p>

<!-- <div class="favproducts" name="{{user_searchedproducts}}"></div> -->
    <h3>You can have these products:</h3>
  <ul>
    {% for user_searchedproduct in user_searchedproducts %}
    {% if user_searchedproduct.approved == True %}
    <div>
    {{ user_searchedproduct.products.product_name }}({{ user_searchedproduct.products.product_type }})
    <p> <button class="favorite" name="{{user_searchedproducts}}" value="{{user_searchedproduct.searched_product_id}}">Add to favorites</button>
    </p></div>
  
    {% endif %}
    {% endfor %}
  </ul> <p></p>

  
    <h3>You are allergic to these products:</h3>
    <p></p>
  <ul>
    {% for user_searchedproduct in user_searchedproducts %}
      {% if user_searchedproduct.approved == False %}
      <div>
        {{ user_searchedproduct.products.product_name }}({{ user_searchedproduct.products.product_type }})
        </div>
      {% endif %}
    {% endfor %}
  </ul> 

<!-- <h1> react components attempt </h1>
<div id="root"></div>
    <script src="/static/components/SafeSearched.jsx" type="text/jsx"></script> -->

  <script src="/static/prodresults.js"></script>
  <script src="/static/addtofav.js"></script>
<!-- 
  User id as a hidden input, in fetch I can get that value, so I can get the route i'm fetching
 -->


{% endblock %}