{% extends 'base.html' %}
{% block title %}Allerapp{% endblock %}

{% block body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" crossorigin="anonymous"></script>
    <script src="/static/homejs.js"></script>
<p>
</p>

<div id="titletown" class="d-flex p-2 bd-highlight"><div class="d-inline" id="alltitle"><h1>AllerApp</h1></div></div>


<!--  start with code where if this user has no user irritants, they have a normal empty checkbox form
if they do have irritants they automatically have them checked and saved here -->
<br><div id="mainbar">
  <div class = "row">
    <div class="col-12 col-md-4 col-lg-4" id="main3">
<form id = "Check">
    <h4>Pick which ingredients to avoid.</h4>
    <br>

  {% for irritant in irritants %}
    {% if irritant in user_irritantgroups %}
      <input type="checkbox" class="form-check-input" checked name="irritants" value="{{ irritant.irritantgroup_name }}" id="{{ irritant.irritantgroup_name }}">
      <label for="{{ irritant.irritantgroup_name }}-irritant">{{ irritant.irritantgroup_name }}</label>
    {% else %}
    <input type="checkbox" class="form-check-input" name="irritants" value="{{ irritant.irritantgroup_name }}" id="{{ irritant.irritantgroup_name }}">
    <label for="{{ irritant.irritantgroup_name }}-irritant">{{ irritant.irritantgroup_name }}</label>

  {% endif %}
  {% endfor %}
  </div>
  <div class="col-12 col-md-4 col-lg-4" id="main3">
    <h4>Pick your product.</h4>
    <br>
<label>Search Here</label>&nbsp;&nbsp;<input type="text" name="search" id="searchBox"/>

  <button class="btn btn-primary" type="submit">Check!</button>
</form></div>
<div class="col-12 col-md-4 col-lg-4" id="main3">
  <h4>Get your results.</h4><br>

<div id="result-text"></div>
</div></div></div>

<br><Br>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="alltitle">Allergy Info</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div id="ingredientstown">
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
    </div>
  </div>
  <!-- <h3>Your saved irritant groups are:</h3>
  <ul>
    {% for user_irritantgroup in user_irritantgroups %}
    <li>{{ user_irritantgroup.irritantgroup_name  }}</li>
    {% endfor %}
  </ul> <p></p> -->
  <div id="mainbar">
  <div class = "row">
  <div class="accordion">
  <div class="accordion-item" id="favaccord">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Here are your &nbsp; <b id=alltitle>favorite products:</b>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse show" aria-labelledby="headingTwo">
      <div class="accordion-body">




        <!-- <ul class="favorite-product">
          {% for user_searchedproduct in user_searchedproducts %}
            {% if user_searchedproduct.favorited == True %}
            <li>
            {{ user_searchedproduct.products.product_name }} 
            <button class="favorite btn btn-outline-secondary btn-sm" name="{{user_searchedproducts}}" value="{{user_searchedproduct.searched_product_id}}">Remove</button></li>
           {% endif %}
          {% endfor %}
        </ul>
       -->
      
      
        <div class="container" id="thefavorites">
          {% for user_searchedproduct in user_searchedproducts %}
            {% if user_searchedproduct.favorited == True %}
          <div class="card">
            <div class="card-body">
              <h7 class="card-title">{{ user_searchedproduct.products.product_name }} </h7>
              <p id="removebtns"><button class="favorite btn btn-outline-secondary btn-sm" name="{{user_searchedproducts}}" value="{{user_searchedproduct.searched_product_id}}">Remove</button></li>
              </p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          </div>
        




      
      
      </div>
    </div></div></div></div>
<br><Br>
<div class="row">
  <div class="col-12 col-md-6 col-lg-6">
<div class="accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Here are your&nbsp; <b id=alltitle> safe products:</b>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
      <div class="accordion-body"><ul class = "notallergic">
        {% for user_searchedproduct in user_searchedproducts %}
        {% if user_searchedproduct.approved == True %}
        <div>
        {{ user_searchedproduct.products.product_name }}
        <!-- ({{ user_searchedproduct.products.product_type }}) -->
         <button class="favorite btn btn-outline-secondary btn-sm" name="{{user_searchedproducts}}" value="{{user_searchedproduct.searched_product_id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
        </svg>Add</button>
        </div>
      
        {% endif %}
        {% endfor %}
      </ul></div></div></div></div></div>
      <div class="col-12 col-md-6 col-lg-6">
    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Here are your&nbsp; <b id=alltitle> unsafe products:</b>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
          <div class="accordion-body"><ul class="allergic">
            {% for user_searchedproduct in user_searchedproducts %}
              {% if user_searchedproduct.approved == False %}
              <div>
                {{ user_searchedproduct.products.product_name }}({{ user_searchedproduct.products.product_type }})
                </div>
              {% endif %}
            {% endfor %}
          </ul> </div>
        </div></div></div></div></div></div>





      <div class="fixed-bottom">
        
        <form action="/logout">
            <button class="btn btn-outline-secondary btn-sm" type="submit">Log out</input>
          
        </form></div>








  <script src="/static/prodresults.js"></script>
  <script src="/static/addtofav.js"></script>
  <link rel="stylesheet" href="/src/AllergyApp/static/css/styles.css">
<!-- 


{% endblock %}